@font-face {
    font-family: 'Work Sans';
    src : url(../fonts/WorkSans-Regular.ttf)
 }

 @font-face {
    font-family: 'Space Mono';
    src : url(../fonts/SpaceMono-Regular.ttf )
 }

body {background: #2B2B2B;
    position: relative;
  }

@media only screen and (max-width:768px) {
  
    .img1 {width:30px !important;
           height: 30px !important;
    }
    .cont_1 {display: inline-block !important;}
    .text_cont4 {font-size:28px !important}
    .cont {display: none !important;}
    .cont_2 {display: none !important;}
    .cont_21 {display: inline-block !important;}
    .cont-3 {display: flex !important; justify-content: center !important;}
    .cont_3 {display: flex !important; justify-content: center !important;}
    .cont_41>h4 {font-size: 22px !important;}
    .cont_41>p {font-size: 16px !important;}
    .cont42 {display: none !important;}
    .butt_42 {width: 100% !important;}
    .cont_411 {margin-top:30px !important; }
    .butt_43 {width: 100% !important; 
    margin-bottom: 20px !important;}
    .button_4 {display: inline-block !important;}
    .cont_51 {font-size:16px !important; }
    .cont_5text {display: none !important;}
   
    .cont_625, .cont_6251 {display: none !important;}
   
    .cont73{display: none !important;}
    .cont74{display: inline-block !important;}
    .cont74>input {width: 100% !important;}
   .cont74>button {width: 100% !important;}
}

.cont_nav {
    color: #FFFFFF ;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
    margin-left:15px

}
    
     .cont_ul>li>a> button {
        width: 152px;
        height: 60px;   
        background: #A259FF;
        border:2px solid #A259FF ;
        border-radius: 20px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF ;
       
        
        }
    
   .cont_ul>li>a {
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    
    color: #FFFFFF;
    }
   
    .cont_ul>li>a> button >img {margin-right:10px;}
    .cont_1>div>div>a>span {
     color: #FFFFFF ;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-left:5px;
    

        }
    a
        {text-decoration: none;}
    .butt_1 {
        background: #2B2B2B;
       border:2px solid #2B2B2B;
    }
    .cont-ul1{
        background: #2B2B2B;
    }
    .cont-ul1>li>a {
        text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    
    color: #FFFFFF;

    }
    .btn_10 {
        width: 130px;
        height: 40px;   
        background: #A259FF;
        border:2px solid #A259FF ;
        border-radius: 20px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF ;
       
        
        }
    .btn_10>img {margin-right:10px;}
   
  .cont_2 {
    background-size: cover;
    min-height: 55vh;
 
  
   
    
  }
  .cont_21 {
    background-size: cover;
    min-height: 40vh;
   
  
  }

    
  .cont_4  {
    
    padding-bottom:40px;
  }
  .text_cont4{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 51px;
line-height: 110%;
color: #FFFFFF;
  }
.cont_41>h4 {
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 140%;
color: #FFFFFF;
}
.cont_41>p {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size:18px;
line-height: 160%;
color: #FFFFFF;
}
.text1 {
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 22px;
color: #858584;
}
.text2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #FFFFFF;

}
.butt_2 {
   


width: 186px;
height: 60px;
background: #A259FF;
border: 2px solid #A259FF;
border-radius: 20px;
color: #FFFFFF;
}
.butt_42 {
 
    padding: 0px 50px;
    gap: 12px;
    
    width: 186px;
    height: 60px;
    background: #A259FF;
    border: 2px solid #A259FF;
    border-radius: 20px;
    color: #FFFFFF;
}
.butt_43 {
    height: 60px;
    background: #2B2B2B;
    border: 2px solid #A259FF;
    border-radius: 20px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
text-align: center;


}
.butt_43>a { color: #FFFFFF;

}
.butt_3 {
   
    
    width: 145px;
    height: 60px;
    background: #2B2B2B;
    border: 2px solid #A259FF;
    border-radius: 20px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
text-align: center;
margin-left: 10px;

}
.butt_3>a {
   
    color: #FFFFFF;
}
.cont5{
    height: 70px;
    border-top:1px solid #3B3B3B;
}
.cont_51 {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 140%;
text-align: center;
text-transform: capitalize;

color: #858584;

}
.cont_5 {display: flex;
         justify-content: center;
        align-items: center;}
.cont_5text{
    width: 50px;
   height: 32px;
text-align: center;
background: #3B3B3B;
border-radius: 20px;
padding:5px;
font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;

}
.cont_5:hover {
    border-bottom: 2px solid #858584;
}
.cont_5:hover a {
    color: #FFFFFF;
}
.cont_5:hover .cont_5text {
    background-color: #858584;
}
.cont66 {
    background: #3B3B3B;
}
.cont6{
    padding-top:80px;
}
.cont_6251 {
    margin-bottom: 30px;
}
.cont62{
        
       
       
    background: #2B2B2B;
    border-radius: 20px;
    
         
    
    }
    .cont62 >img {width: 330px;
        height: 296px;
        }
    
    .cont621_text {
        margin-top:20px;
        margin-bottom:27px;
        margin-left:30px;
    
    }
    .cont621_text>h3 {
        font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
   
    text-transform: capitalize;
   
    
    color: #FFFFFF;
    }
    .cont621_text>span  {
        font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    margin-left: 12px;
    color: #FFFFFF;
    
    }
    
    .cont622 {
        margin-top:27px;
        margin-left:30px;
       margin-right: 30px;
    
       
    
    }
    .cont623    {
        font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    text-align: right;
    color: #858584;
    }
    .cont624{
        font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    color: #FFFFFF;
    }
   .cont_625 {
      padding-bottom: 80px;
    }
    .cont_7 {
    
        background-color: #3B3B3B;
        padding-top:80px;
        padding-top: 60px;
      
        border-top: 2px solid #2B2B2B;
        }
        
        
        .cont7>img {
            margin-bottom: 33.6px;
        
        }
        .cont7>p {
            width: 238px;
        
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        
        color: #CCCCCC;
        }
        .logo {margin-top:19.55px;}
        .cont71>h5 {
            font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        text-transform: capitalize;
        margin-bottom: 25px;
        color: #FFFFFF;
        }
        .cont71>p{
            text-decoration: none;
            font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        
        color: #CCCCCC;
        }
        .cont72 >h5 {
            font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom:25px;
        
        }
        .cont72>p{
            font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-bottom:20px;
        color: #CCCCCC;
        }
        .cont73 {
            background: #FFFFFF;
            border-radius: 20px;
            width: 100%;
        }
        .cont73>input {
           
            height: 60px;
            background: #FFFFFF;
            border-radius: 20px;
            outline: 0;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #2B2B2B;
            border: 3px solid #FFFFFF; ;
            padding: 20px;
            
          
        }
        .cont73>button {
            
          width: 179px;
        background: #A259FF;
        border-radius: 20px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        border:3px solid  #A259FF;
        }
        
        .cont74>input {
            
           height: 46px;
           margin-top:20px;
            margin-bottom: 16px;
            background: #FFFFFF;
            border-radius: 20px;
           
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #2B2B2B;
            border: 3px solid #FFFFFF; ;
            padding-left: 20px;
            
        }
        .cont74>button {
            
           height: 46px;
            background: #A259FF;
            border-radius: 20px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
            border:3px solid  #A259FF;
        }
        .cont74>button>img {
            margin-right: 15px;
        }
        .hr {
            border: 1px solid #858584;
            margin-top: 30px;
        }
        .footer_p {
            font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        
        color: #CCCCCC;
        }
    